.header .user{
    position: relative;
}

.header .user div:nth-child(1){
    cursor: pointer;
}

.header .menu{
    position: absolute;
    border: 1px solid #444;
    padding: 10px 0px;
    background-color: #222;
    border-radius: 5px;
    top: 110%;
    width: 150px;
    right: 0px;
    z-index: 10;
}

.header .menu div{
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.header .menu div:hover{
    background-color: #444;
}

@media only screen and (max-width: 768px){
    .header .menu{
        right: calc(50% - 75px);
    }
}
