.search{
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}

.search .search-input{
    background-color: #fff;
    color: #555;
    border-radius: 10px;
}

.search .filters-button{
    cursor: pointer;
}

.search input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border: 0.5px solid #fff;
    border-radius: 10px;
}

.suggestions{
    margin-top: 5px;
    left: 0px;
    color: #000;
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    max-height: 50vh;
    overflow: auto;
}

.search .filters{
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}